<% if(success && success.length) { %>
    <h1 class="w-full bg-green-600/30 text-black px-10 py-4 text-xl rounded-2xl my-6"><%= success %></h1>
<% } %>
<% if(error && error.length) { %>
    <h1 class="w-full bg-red-600/40 text-black px-10 py-4 text-xl rounded-2xl my-6"><%= error %></h1>
<% } %>