<footer class="px-24 py-8">
    <div class="w-[80vw] flex justify-between">
        <div class="support flex flex-col gap-3">
            <div class="font-semibold">Support</div>
            <p><a href="">Help Center</a></p>
            <p><a href="">Get help with a safety issue</a></p>
            <p><a href="">AirCover</a></p>
            <p><a href="">Anti-discrimination</a></p>
            <p><a href="">Disability Support</a></p>
            <p><a href="">Cancellation options</a></p>
            <p><a href="">Report neighbourhood concern</a></p>
        </div>
        <div class="hosting flex flex-col gap-3">
            <div class="font-semibold">Hosting</div>
            <p><a href="">Airbnb your house</a></p>
            <p><a href="">Airbnb your experience</a></p>
            <p><a href="">Airbnb your service</a></p>
            <p><a href="">AirCover for Hosts</a></p>
            <p><a href="">Hosting Resources</a></p>
            <p><a href="">Community forum</a></p>
            <p><a href="">Hosting Responsibility</a></p>
            <p><a href="">Join a free hosting class</a></p>
            <p><a href="">Find a co-host</a></p>
            <p><a href="">Refer a host</a></p>
        </div>
        <div class="airbnb flex flex-col gap-3">
            <div class="font-semibold">Airbnb</div>
            <p><a href="">2025 Summer Release</a></p>
            <p><a href="">Newsrooms</a></p>
            <p><a href="">Careers</a></p>
            <p><a href="">Investors</a></p>
            <p><a href="">Airbnb.org emergency stays</a></p>
        </div>
    </div>

    <div class="flex justify-between py-12">
        <div>
            <p>© 2026 Airbnb, Inc. · PrivacyTerms · Company details</p>
        </div>
        <div class="flex items-center gap-6">
            <p class="flex items-center gap-2"><img class="h-4" src="/images/globe.svg" alt=""> English(IN)</p>
            <p>&#8377; INR</p>
            <img class="h-4" src="/images/facebook.svg" alt="">
            <img class="h-4" src="/images/x.svg" alt="">
            <img class="h-4" src="/images/insta.svg" alt="">
        </div>
    </div>
</footer>