<nav class="flex justify-between items-center px-24 py-4 sticky top-0 bg-white shadow-lg rounded-lg">
    <div class="logo">
        <img src="/images/logo.webp" class="w-28 h-14 text-black object-cover" alt="Airbnb logo">
    </div>
    <ul class="flex gap-8">
        <li><a href="">Home</a></li>
        <li><a href="/listings">All listings</a></li>
        <form method="GET" action="/listings/new">
            <button class="cursor-pointer">New Listing</button>
        </form>
        
    </ul>
    <ul class="flex items-center gap-4">
        <li>Become a host</li>
        <li class="bg-gray-100 p-2 rounded-full">
            <img class="h-5 w-5" src="/images/globe.svg" alt="">
        </li>
        <li class="bg-gray-100 p-2 rounded-full">
            <img class="h-5 w-5" src="/images/hamburger.svg" alt="">
        </li>
    </ul>
</nav>